
<div class="card">
  <div class="card-header">
    <h5 class="mb-0">Listado de Gastos
      <i class="fa fa-spinner fa-spin" *ngIf="isLoading"></i>
      <div class="btn-group" role="group" style="float:right">
          <button type="button" class="btn btn-outline-secondary  btn-sm" placement="left" style="float:right" 
          ngbPopover="Agreguelos gastos asociados al proyecto por partida y actividad."
          popoverTitle="Información">
          <i class="fa fa-info"></i>
        </button>
          <button class="btn btn-success btn-sm mb-auto" 
          type="button" ngbTooltip="Añadir" style="float: right" (click)="addGasto()" [disabled]="(showPartida | async) || (showActividad | async)" *ngIf="!isEjecucion">
            <i class="fa fa-plus" ></i>
          </button>
      </div>     
    </h5>
  </div>
  <div class="card-body">
    <p *ngIf="!isEjecucion">
    <app-alert-component [alert]="alert" *ngIf="showAlert && (!(showActividad | async) && !(showPartida | async))"></app-alert-component>
    <ngb-alert *ngIf="showActividad | async" type='warning'>No existe ninguna Actividad, pulse <a style="color: #007bff;cursor: pointer;" (click)="goTo('a')">aquí </a> para agregar una nueva.</ngb-alert>
    <ngb-alert *ngIf="showPartida | async" type='warning'>No existe ninguna Partida, pulse <a style="color: #007bff;cursor: pointer;"  (click)="goTo('p')">aquí </a> para agregar una nueva.</ngb-alert>
    </p>
    <ul class="list-group" *ngIf="!showAlert">
      <li class="list-group-item justify-content-between">
        <div class="row">
          <div class="p-0 col-md-1 text-center form-group no-margin" *ngIf="!isEjecucion">
          </div>
          <div class="p-0 col-md-2 text-center form-group no-margin">
            <label class="label-cabecera">Nº Orden</label>
          </div>
          <div class="p-0 col-md-2 text-center form-group no-margin">
            <label class="label-cabecera">Fecha</label>
          </div>
          <div class="p-0 col-md-4 text-center form-group no-margin">
            <label class="label-cabecera">Partida</label>
          </div>
          <div class="p-0 col-md-1 text-center form-group no-margin">
            <label class="label-cabecera">Importe</label>
          </div>
          <div class="p-0 col-md-1 text-center form-group no-margin">
            <label class="label-cabecera">Moneda</label>
          </div>
          <div class="p-0 col-md-1 text-center form-group no-margin">
            </div>
        </div>
      </li>
      <li class="list-group-item justify-content-between" *ngFor="let gasto of gastos let i = index">
        <div class="row">
          <div class="p-0 col-md-1 btn-group-sm text-center" role="group" *ngIf="!isEjecucion">
            <button type="button" class="btn btn-primary" ngbTooltip="Editar" placement="top" (click)="editGasto(gasto)">
              <i class="fa fa-edit"></i>
            </button>
            <button type="button" class="btn btn-danger" ngbTooltip="Eliminar" placement="top" (click)="openModalRemove(gasto)">
              <i class="fa fa-trash-o"></i>
            </button>
          </div>
          <div class="p-0 col-md-2 form-group no-margin text-center">
            {{gasto.numero_orden}}
          </div>
          <div class="p-0 col-md-2 form-group no-margin text-center">
            {{ds.format(gasto._fecha)}}
          </div>
          <div class="p-0 col-md-4 form-group no-margin text-center" ngbPopover="{{gasto.partida.nombre}}" triggers="mouseenter:mouseleave" popoverTitle="Partida">
            {{(gasto.partida.nombre.length > 45) ? (gasto.partida.nombre | slice:0:45) + '...' : (gasto.partida.nombre)}}
          </div>
          <div class="p-0 col-md-1 form-group no-margin text-center">
            {{importeFormateado[i]}}
          </div>
          <div class="p-0 col-md-1 form-group no-margin text-center">
            {{gasto.moneda.codigo}}
          </div>
          <div class="p-0 col-md-1 form-group no-margin text-center" >
            <button type="button" class="btn btn-success btn-sm" ngbTooltip="Agregar Documento Adjunto" 
             placement="top" (click)="openModalDocuments(gasto)" >
              <i class="fa fa-file-archive-o"></i>
            </button>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>

<div class="card" style="margin-top: 2rem" *ngIf="!showAlert">
  <div class="card-header" role="tab" id="headingTwo">
    <h5 class="mb-0">
      Totales Gastos/Partida
      <i class="fa fa-spinner fa-spin" *ngIf="isloading"></i>
    </h5>
  </div>
  <div class="card-block form-project">
    <div class="row">
      <div class="p-0 col-md-12 col-xs-12 text-left" *ngFor="let key of keysPartidas">
        <label *ngFor="let entry of totalsPartidas[key] | sumas:key ">
          {{key}}:
          <strong>{{entry.value}}</strong>
        </label>
      </div>
      <!-- <div class="p-0 col-md-12 col-xs-12 text-right" style="font-size: 1.5em">
          <strong>Total: {{totalSum}}</strong>
        </div> -->
    </div>
  </div>
</div>

<div class="card" style="margin-top: 2rem" *ngIf="!showAlert">
  <div class="card-header" role="tab" id="headingTwo">
    <h5 class="mb-0">
      Totales Gastos/Actividad
      <i class="fa fa-spinner fa-spin" *ngIf="isloading"></i>
    </h5>
  </div>
  <div class="card-block form-project">
    <div class="row">
      <div class="p-0 col-md-12 col-xs-12 text-left" *ngFor="let key of keysActividad">
        <label *ngFor="let entry of totalsActividades[key] | sumas:key ">
          {{key}}:
          <strong>{{entry.value}}</strong>
        </label>
      </div>
      <div class="p-0 col-md-12 col-xs-12 text-right" style="font-size: 1.5em">
        <strong>Total: {{totalSum}}</strong>
      </div>
    </div>
  </div>
</div>
