<div *ngIf="actividad | async" class="modal-body">
  <div class="card">
    <div class="card-header">
      <h2 class="form-signin-heading">{{title}}</h2>
    </div>
    <div class="card-body">
      <form [formGroup]="frmActividad" (submit)="onSubmit()">
        <div class="row">
          <div class="col-md-6 col-xs-12 form-group">
            <div class="form-label-group">
                <input id="txtCod" type="text" class="form-control" formControlName="codigo" 
                placeholder="Código">
                <label for="txtCod">Código</label>
                <div *ngIf="frmActividad.controls.codigo.invalid 
                  && (frmActividad.controls.codigo.dirty || frmActividad.controls.codigo.touched)" class="alert alert-danger alert-form">
                  <span *ngIf="frmActividad.controls.codigo.hasError('required')">El campo código es obligatorio.</span>
                </div>
            </div>
          </div>
          <div class="col-md-6 col-xs-12 form-group">
              <app-etapa-combo-component [ids]="ids" [item]="frmActividad"></app-etapa-combo-component>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 col-xs-12 form-group">
            <div class="form-label-group">
                <textarea type="text" id="txtDes" class="form-control" formControlName="descripcion" placeholder="Descripción">
                  </textarea>
                  <label for="txtDes">Descripción</label>
                <div *ngIf="frmActividad.controls.descripcion.invalid 
                  && (frmActividad.controls.descripcion.dirty || frmActividad.controls.descripcion.touched)" class="alert alert-danger alert-form">
                  <span *ngIf="frmActividad.controls.descripcion.hasError('required')">El campo descripción es obligatorio.</span>
                </div>
            </div>
           
          </div>

          <div class="col-md-6 col-xs-12 form-group" formGroupName="planificacion_actividad">

            <div class="input-group form-label-group">
              <input id="txtFIP" class="form-control" placeholder="Fecha Inicio Planificación" type="text" formControlName="fecha_inicio"
                [maxDate]="maxDate" [minDate]="minDate" ngbDatepicker #fechaInicioPlanificacion="ngbDatepicker" [outsideDays]="hidden"
                [displayMonths]="2" [navigation]="select" [showWeekNumbers]="false">

              <div class="input-group-append">
                <button class="btn btn-outline-secondary" (click)="fechaInicioPlanificacion.toggle()" type="button">
                  <i class="fa fa-calendar" style="width: 1.2rem; height: 1rem; cursor: pointer;"></i>
                </button>
              </div>
              <label for="txtFIP">Fecha Inicio Planificación</label>
            </div>
            <div *ngIf="frmActividad.get('planificacion_actividad.fecha_inicio').invalid 
                && (frmActividad.get('planificacion_actividad.fecha_inicio').dirty 
                || frmActividad.get('planificacion_actividad.fecha_inicio').touched)" class="alert alert-danger alert-form">
              <span *ngIf="frmActividad.get('planificacion_actividad.fecha_inicio').hasError('required')">El campo fecha inicio planificación es obligatorio.</span>
              <span *ngIf="frmActividad.get('planificacion_actividad.fecha_inicio').hasError('datediff')">La fecha de inicio ha de ser menor que la de fin.</span>
            </div>
          </div>
          <div class="col-md-6 col-xs-12 form-group" formGroupName="planificacion_actividad">
            <div class="input-group form-label-group">
              <input id="txtFFP" class="form-control" placeholder="Fecha Fin Planificación" type="text" ngbDatepicker formControlName="fecha_fin"
                [maxDate]="maxDate" [minDate]="minDate" #fechaFinPlanificacion="ngbDatepicker" [displayMonths]="2" [navigation]="select"
                [showWeekNumbers]="false">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" (click)="fechaFinPlanificacion.toggle()" type="button">
                  <i class="fa fa-calendar" style="width: 1.2rem; height: 1rem; cursor: pointer;"></i>
                </button>
              </div>
              <label for="txtFFP">Fecha Fin Planificación</label>
            </div>
            <div *ngIf="frmActividad.get('planificacion_actividad.fecha_fin').invalid 
                && (frmActividad.get('planificacion_actividad.fecha_fin').dirty 
                || frmActividad.get('planificacion_actividad.fecha_fin').touched)" class="alert alert-danger alert-form">
              <span *ngIf="frmActividad.get('planificacion_actividad.fecha_fin').hasError('required')">El campo fecha fin planificación es obligatorio.</span>
              <span *ngIf="frmActividad.get('planificacion_actividad.fecha_fin').hasError('datediff')">La fecha de inicio ha de ser menor que la de fin.</span>
            </div>
          </div>


          <div class="col-md-6 col-xs-12 form-group" formGroupName="ejecucion_actividad">
            <div class="input-group form-label-group">
              <input id="txtFIR" class="form-control" placeholder="Fecha Inicio Real" type="text" ngbDatepicker #fechaInicioReal="ngbDatepicker"
                [maxDate]="maxDate" [minDate]="minDate" formControlName="fecha_inicio" [displayMonths]="2" [navigation]="select"
                [showWeekNumbers]="false">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" (click)="fechaInicioReal.toggle()" type="button">
                  <i class="fa fa-calendar" style="width: 1.2rem; height: 1rem; cursor: pointer;"></i>
                </button>
              </div>
              <label for="txtFIR">Fecha Inicio Real</label>
              <div *ngIf="frmActividad.get('ejecucion_actividad.fecha_inicio').invalid 
                    && (frmActividad.get('ejecucion_actividad.fecha_inicio').dirty 
                    || frmActividad.get('ejecucion_actividad.fecha_inicio').touched)" class="alert alert-danger alert-form">
                <span *ngIf="frmActividad.get('ejecucion_actividad.fecha_inicio').hasError('datediff')">La fecha de inicio ha de ser menor que la de fin.</span>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-xs-12 form-group" formGroupName="ejecucion_actividad">
            <div class="input-group form-label-group">
              <input id="txtFFR" class="form-control" placeholder="Fecha Fin Real" type="text" ngbDatepicker #fechaFinReal="ngbDatepicker"
                [maxDate]="maxDate" [minDate]="minDate" formControlName="fecha_fin" [displayMonths]="2" [navigation]="select"
                [showWeekNumbers]="false">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" (click)="fechaFinReal.toggle()" type="button">
                  <i class="fa fa-calendar" style="width: 1.2rem; height: 1rem; cursor: pointer;"></i>
                </button>
              </div>
              <label for="txtFFR">Fecha Fin Real</label>
              <div *ngIf="frmActividad.get('ejecucion_actividad.fecha_fin').invalid 
                    && (frmActividad.get('ejecucion_actividad.fecha_fin').dirty 
                    || frmActividad.get('ejecucion_actividad.fecha_fin').touched)" class="alert alert-danger alert-form">
                <span *ngIf="frmActividad.get('ejecucion_actividad.fecha_fin').hasError('datediff')">La fecha de inicio ha de ser menor que la de fin.</span>
              </div>
            </div>
          </div>
          <!-- <div class="col-md-12 col-xs-12 form-group" *ngIf="existsActividad | async" style="margin-bottom:2rem ">
            <app-recurso-component [ids]="ids" [isResultado]="true" [actividad]="actividad"></app-recurso-component>
          </div>
          <div class="col-md-12 col-xs-12 form-group" *ngIf="!(existsActividad | async)">
              <ngb-alert [dismissible]="false" type='info'>Solo se podrán agregar recursos una vez creada la actividad.</ngb-alert>
          </div> -->
          <div class="col-md-12 col-xs-12 form-group">
            <div class="form-label-group">
              <textarea id="txtCom" class="form-control" formControlName="comentario" placeholder="Comentarios">
                  </textarea>
              <label for="txtCom">Comentarios</label>
            </div>
          </div>
          <div class="col-md-12 col-xs-12 form-group">
            <div class="form-label-group">
              <textarea id="txtONG" class="form-control" formControlName="comentarios_ong" placeholder="Comentarios Ong">
                  </textarea>
              <label for="txtONG">Comentarios ONG</label>
            </div>
          </div>
          <div class="col-md-12 col-xs-12 form-group">
            <div class="form-label-group">
              <textarea id="txtOTC" class="form-control" formControlName="comentarios_aecid" placeholder="Comentarios OTC/Dept Geo.">
                  </textarea>
              <label for="txtOTC">Comentarios OTC/Dept Geo.</label>
            </div>
          </div>
          <div class="col-md-12 col-xs-12 form-group">
            <div class="form-label-group">
              <textarea id="txtCCP" class="form-control" formControlName="comentarios_costes_personal" placeholder="Comentarios Costes Persosnal">
              </textarea>
              <label for="txtCCP">Comentarios Costes Persosnal</label>
            </div>
          </div>
        </div>
        <div class="col-md-12 col-xs-12 text-right" style="padding: 0px;">
          <button class="btn btn-primary btn-form-inline" type="submit" [disabled]="!frmActividad.valid">Guardar
          </button>
          <button type="button" class="btn btn-outline-dark" (click)="close()">Cerrar</button>
        </div>
      </form>
    </div>
  </div>
</div>