<div class="modal-body">
  <div class="card">
    <div class="card-header">
      <h2 class="form-signin-heading">Cambio de Contraseña</h2>
    </div>
    <div class="card-body">
      <form [formGroup]="frmPassword" (submit)="edit()">
        <div class="row">
          <div class="col-md-12 col-xs-12 form-group">
            <div class="form-label-group">
              <input type="password" id="rc" class="form-control" formControlName="new_password" placeholder="Contraseña Nueva">
              <label for="rc">Contraseña Nueva</label>
              <div *ngIf="frmPassword.controls.new_password.invalid 
                        && (frmPassword.controls.new_password.dirty || frmPassword.controls.new_password.touched)" class="alert alert-danger alert-form">
                <span *ngIf="frmPassword.controls.new_password.hasError('required')">El campo contraseña nueva es obligatorio.</span>
                <span *ngIf="frmPassword.controls.new_password.hasError('invalidPassword')">La contraseña debe incluir un carácter en minúscula, un carácter en mayúscula, un número y un carácter especial.</span>
              </div>
            </div>
          </div>
          <div class="col-md-12 col-xs-12 form-group">
            <div class="form-label-group">
              <input type="password" id="rnc" class="form-control" formControlName="repeat_new_password" placeholder="Repita Contraseña Nueva">
              <label for="rnc">Repita Contraseña Nueva</label>
              <div *ngIf="frmPassword.controls.repeat_new_password.hasError('equalTo')  || (frmPassword.controls.repeat_new_password.invalid 
                          && (frmPassword.controls.repeat_new_password.dirty || frmPassword.controls.repeat_new_password.touched))"
                class="alert alert-danger alert-form">
                <span *ngIf="frmPassword.controls.repeat_new_password.hasError('required')">El campo repita contraseña nueva es obligatorio.</span>
                <span *ngIf="frmPassword.controls.repeat_new_password.hasError('equalTo')">Las contraseñas no coinciden</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12 col-xs-12 text-right" style="padding: 0px;">
            <button class="btn btn-primary btn-form-inline" type="submit" [disabled]="!frmPassword.valid">Guardar</button>
            <button type="button" class="btn btn-outline-dark" (click)="close()">Cerrar</button>
          </div>
      </form>
    </div>
  </div>
</div>