<div class="modal-body">
  <div class="card">
    <div class="card-header">
      <h2 class="form-signin-heading">Recuperar Contraseña</h2>
    </div>
    <div class="card-body">
      <form [formGroup]="frmMail" (submit)="forgot()">
        <div class="row">
          <div class="col-md-12 col-xs-12 form-group">
            <div class="form-label-group">
              <input type="text" id="txtEmail" class="form-control" formControlName="email" placeholder="Email">
              <label for="txtEmail">Email</label>
              <div *ngIf="frmMail.controls.email.invalid 
                               && (frmMail.controls.email.dirty || frmMail.controls.email.touched)" class="alert alert-danger alert-form">
                <span *ngIf="frmMail.controls.email.hasError('required')">El campo email es obligatorio.</span>
                <span *ngIf="frmMail.controls.email.hasError('invalidEmailAddress')">Formato de email no valido.</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12 col-xs-12 text-right" style="padding: 0px;">
            <button class="btn btn-primary btn-form-inline" type="submit" [disabled]="!frmMail.valid">Enviar</button>
            <button type="button" class="btn btn-outline-dark" (click)="close()">Cerrar</button>
          </div>
      </form>
    </div>
  </div>
  <div class="my-container" [hidden]="!isLoading">
    <ngx-loading show=true; [config]="config"></ngx-loading>
  </div>
</div>