<table class="table table-sm table-bordered table-hover table-striped">
    <thead>
        <tr>
            <th style="min-width: 10%;text-align: center">Acciones</th>
            <th style="width: 30%;text-align: center">Código</th>
            <th style="width: 30%;text-align: center">Nombre</th>
            <th style="width: 30%;text-align: center">Financiador</th>
        </tr>
        <tr>
            <th class="btn-add-row">
                <button class="btn btn-success btn-sm mb-auto btn-row" ngbTooltip="Añadir" [disabled]="isNew" (click)="onNew()">
                    <i class="fa fa-plus"></i>
                </button>
            </th>
            <th>
                <input type="text" required="false" [ngModelOptions]="{standalone:true}" [(ngModel)]="filter.codigo" placeholder="filtrar: Código"
                    class="filter-control">
            </th>
            <th>
                <input type="text" required="false" [ngModelOptions]="{standalone:true}" [(ngModel)]="filter.nombre" placeholder="filtrar: Nombre"
                    class="filter-control">
            </th>
            <th>
                <!-- <input type="text" required="false" [ngModelOptions]="{standalone:true}" [(ngModel)]="filter.financiador.nombre" placeholder="filtrar: Financiador"
                    class="filter-control"> -->
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let convocatoria of convocatorias | app_filter:filter let i = index">
            <td style="width: 5%" scope="row" style="text-align: center;">
                <button type="button" class="btn btn-primary btn-sm" (click)="onEdit(convocatoria)" placement="top" ngbTooltip="Editar">
                    <i class="fa fa-edit"></i>
                </button>
                <button class="btn btn-danger btn-sm" placement="top" ngbTooltip="Eliminar" (click)="onDelete(convocatoria)">
                    <i class="fa  fa-trash-o"></i>
                </button>
            </td>
            <td style="width: 30%" scope="row">{{convocatoria.codigo}}</td>
            <td style="width: 30%" scope="row">{{convocatoria.nombre}}</td>
            <td style="width: 30%" scope="row">{{convocatoria.financiador.nombre}}</td>
        </tr>
    </tbody>
</table>

<p *ngIf="showAlert()">
    <ngb-alert type='info'>No existe ningúna convocatoria, pulse en el botón + para agregar una nueva.</ngb-alert>
</p>