<div [class]="modal-body">
  <div class="card">
    <div class="card-header">
      <h2 class="form-signin-heading">{{title}}</h2>
    </div>
    <div class="card-body">
      <form [formGroup]="frmPartida" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="col-md-6 col-xs-6 form-group">
            <div class="form-label-group">
              <input id="txtCodigo" type="text" class="form-control" formControlName="codigo" placeholder="Código" appAutofocus>
              <label for="txtCodigo">Código</label>
              <div *ngIf="frmPartida.get('codigo').invalid
                    && (frmPartida.get('codigo').dirty || frmPartida.get('codigo').touched)" class="alert alert-danger alert-form">
                <span *ngIf="frmPartida.get('codigo').hasError('required')">El Código es obligatorio.</span>
              </div>
            </div>

          </div>
          <div class="col-md-6 col-xs-6 form-group text-right">
            <div class="btn-group btn-group-toggle" ngbRadioGroup formControlName="es_padre">
              <label ngbButtonLabel class="btn btn-outline-dark">
                Partida Padre
              </label>
              <label ngbButtonLabel class="btn-primary">
                <input ngbButton type="radio" [value]="true"> Si
              </label>
              <label ngbButtonLabel class="btn-primary">
                <input ngbButton type="radio" [value]="false"> No
              </label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-xs-12 form-group">
            <div class="form-label-group">
              <input type="text" id="txtNombre" class="form-control" formControlName="nombre" placeholder="Nombre">
              <label for="txtNombre">Nombre</label>
              <div *ngIf="frmPartida.get('nombre').invalid
                      && (frmPartida.get('nombre').dirty || frmPartida.get('nombre').touched)" class="alert alert-danger alert-form">
                <span *ngIf="frmPartida.get('nombre').hasError('required')">El Nombre es obligatorio.</span>
              </div>
            </div>

          </div>
          <div class="col-md-6 col-xs-6 form-group text-right">
            <div class="btn-group btn-group-toggle" ngbRadioGroup formControlName="es_inversion">
              <label ngbButtonLabel class="btn btn-outline-dark">
                Tipo
              </label>
              <label ngbButtonLabel class="btn-primary">
                <input ngbButton type="radio" [value]="true"> Inversión
              </label>
              <label ngbButtonLabel class="btn-primary">
                <input ngbButton type="radio" [value]="false"> Gasto
              </label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 col-xs-12 form-group">
            <div class="form-label-group">
              <select id="ddlCostes" formControlName="costes" [compareWith]="compareFn" class="form-control">
                <option [ngValue]="null" [selected]="true" disabled>Costes</option>
                <option *ngFor="let c of (costes | async)" [ngValue]="c">{{c.valor}}</option>
              </select>
              <label for="ddlCostes">Costes</label>
              <div *ngIf="frmPartida.get('costes').invalid 
                          && (frmPartida.get('costes').dirty || frmPartida.get('costes').touched)" class="alert alert-danger alert-form">
                <span *ngIf="frmPartida.get('costes').hasError('required')">El campo coste es obligatorio.</span>
              </div>
            </div>

          </div>

        </div>
        <div class="row">
          <div class="col-md-12 col-xs-12 form-group"  *ngIf="!esPadre">
            <div class="form-label-group">
              <select id="ddlPP" formControlName="partida_padre" [compareWith]="compareFn" class="form-control">
                <option [ngValue]="null" [selected]="true" disabled>Partida Padre</option>
                <option *ngFor="let p of (partidas | async)" [ngValue]="p">{{p.codigo}}-{{p.nombre}}</option>
              </select>
              <label for="ddlPP">Partida Padre</label>
            </div>

          </div>
          <!-- <div class="col-md-12 col-xs-12 form-group">
            <app-etapa-combo-component [ids]="ids" [item]="frmPartida"></app-etapa-combo-component>
          </div> -->
        </div>
        <div class="row">
          <div class="col-md-12 col-xs-12 text-right" style="padding: 0px;">
            <button class="btn btn-primary btn-form-inline" type="submit" *ngIf="!isEjecucion" [disabled]="!frmPartida.valid">Guardar</button>
            <button type="button" class="btn btn-outline-dark" (click)="onClose()">Cerrar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>