<ul class="list-group">
  <li class="list-group-item justify-content-between">
    <div class="row">
      <div class="col-md-1 col-xs-1">
        <button class="btn btn-success btn-sm mb-auto" *ngIf="!isEjecucion" type="button" ngbTooltip="Añadir"
                (click)="addNewEntidad()">
          <i class="fa fa-plus"></i>
        </button>
      </div>
      <div class="col-md-10 col-xs-10 text-center form-group no-margin ">
        <label class="label-cabecera">Nombre</label>
      </div>
    </div>

  </li>
  <li class="list-group-item justify-content-between" *ngIf="isNewEntidad">
    <form [formGroup]="frmEntidad" >
      <div class="row">
        <div class="col-md-2 col-xs-2 btn-group-sm" role="group">
          <button type="button"  class="btn btn-success" ngbTooltip="Guardar" placement="top"
                  [disabled]="!frmEntidad.valid" (click)="onSubmitEntidad()">
            <i class="fa fa-check"></i>
          </button>
          <button type="button" class="btn btn-secondary" ngbTooltip="Cancelar" placement="top"
          (click)="cancel()">
            <i class="fa fa-remove"></i>
          </button>
        </div>
        <div class="col-md-10 col-xs-10 form-group no-margin">
          <input type="text" class="form-control"
                 formControlName="nombre"
                 placeholder="Nombre">
          <div *ngIf="frmEntidad.controls.nombre.invalid 
                && (frmEntidad.controls.nombre.dirty || frmEntidad.controls.nombre.touched)"
               class="alert alert-danger alert-form">
            <span *ngIf="frmEntidad.controls.nombre.hasError('required')">El campo entidad es obligatorio.</span>
          </div>
        </div>
      </div>
    </form>

  </li>
  <li class="list-group-item justify-content-between"  *ngFor="let entidad of (entidades | async) ">
    <div class="row">
      <div class="col-md-2 col-xs-2 btn-group-sm" role="group" *ngIf="!isEjecucion">
        <button type="button" class="btn btn-primary" [disabled]="isNewEntidad" ngbTooltip="Editar" placement="top"
                (click)="editEntidad(entidad)">
          <i class="fa fa-edit"></i>
        </button>
        <button type="button" class="btn btn-danger" ngbTooltip="Eliminar" placement="top"
                (click)="openModalRemove(entidad)">
          <i class="fa fa-trash-o"></i>
        </button>
      </div>
      <div class="col-md-10 col-xs-10 form-group no-margin ">
        {{entidad.nombre}}
      </div>
    </div>
  </li>
</ul>
