<div class="card">
  <div class="card-header" role="tab" id="headingOne">
    <h5 class="mb-0">
      Resumen Presupuestos
    </h5>
  </div>
  <div class="card-body">
    <ul class="list-group" *ngIf="!(showAlert | async)">
      <li class="list-group-item justify-content-between bg-secondary">
        <div class="row">
          <div class="col-md-9 col-xs-9 text-center form-group no-margin ">
            <label class="label-cabecera">Partida</label>
          </div>
          <div class="col text-center form-group no-margin">
            <label class="label-cabecera">Total</label>
          </div>
        </div>
      </li>
      <li class="list-group-item justify-content-between" *ngFor="let key of keysPartidas">
        <div class="row" *ngFor="let entry of totalsPartidas[key] | sumas:key ">
          <div class="col-md-9 col-xs-9 text-left form-group no-margin">
            <label>{{key}}</label>
          </div>
          <div class="col-md-3 col-xs-3 text-center form-group no-margin">
            <label class="label-cabecera">{{entry.value}}</label>
          </div>
        </div>
      </li>
    </ul>
    <ngb-alert *ngIf="(showAlert | async)" type="warning" [dismissible]="false">
        No existen presupuestos asociada al proyecto.
    </ngb-alert>
  </div>
</div>