<table class="table table-sm table-bordered table-hover table-striped">
  <thead>
    <tr>
      <th style="min-width: 5%;text-align: center">Acciones</th>
      <th style="width: 85%;text-align: center">Valor</th>
      <th style="width: 10%;text-align: center">Público</th>
    </tr>
    <tr>
      <th class="btn-add-row">
        <button class="btn btn-success btn-sm mb-auto btn-row" ngbTooltip="Añadir" [disabled]="isNew" (click)="onNew()">
          <i class="fa fa-plus"></i>
        </button>
      </th>
      <th>
        <input type="text" required="false" [ngModelOptions]="{standalone:true}" [(ngModel)]="filter.valor" placeholder="filtrar: Valor"
          class="filter-control">
      </th>

      <th>
        <select class="form-control" [ngModelOptions]="{standalone:true}" [(ngModel)]="filter.publica" class="filter-control" [compareWith]="compare">
          <option value="null" selected>Todos</option>
          <option value="true" selected>Si</option>
          <option value="false">No</option>
        </select>
      </th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let cofinanciador of cofinanciadores | app_filter:filter">
      <th style="width: 5%" scope="row" style="text-align: center;">
        <button type="button" class="btn btn-primary btn-sm" (click)="onEdit(cofinanciador)" placement="top" ngbTooltip="Editar">
          <i class="fa fa-edit"></i>
        </button>
        <button class="btn btn-danger btn-sm" placement="top" ngbTooltip="Eliminar" (click)="onDelete(cofinanciador)">
          <i class="fa  fa-trash-o"></i>
        </button>
      </th>
      <th style="width: 70%" scope="row">{{cofinanciador.valor}}</th>
      <th style="width: 10%" scope="row">
        <i class="fa  fa-{{cofinanciador.publica ? 'check' : 'times'}}"></i>
      </th>
    </tr>
  </tbody>
</table>

<p *ngIf="showAlert()">
  <ngb-alert type='info'>No existe ningún Cofinanciador, pulse en el botón + para agregar una nuevo.</ngb-alert>
</p>