<div [class]="modal-body">
  <div class="card">
    <div class="card-header">
      <h2 class="form-signin-heading">{{title}}</h2>
    </div>
    <div class="card-body">
      <form [formGroup]="frmCofinanciador" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="col-md-12 col-xs-12 form-group">
            <div class="form-label-group">
              <input type="text" id="txtValor" class="form-control" formControlName="valor" placeholder="Valor" appAutofocus>
              <label for="txtValor">Valor</label>
              <div *ngIf="frmCofinanciador.get('valor').invalid
                    && (frmCofinanciador.get('valor').dirty || frmCofinanciador.get('valor').touched)" class="alert alert-danger alert-form">
                <span *ngIf="frmCofinanciador.get('valor').hasError('required')">El campo valor es obligatorio.</span>
              </div>
            </div>
          </div>
          <div class="col-md-12 col-xs-12 form-group">
            <div class="btn-group btn-group-toggle" ngbRadioGroup formControlName="publica">
              <label ngbButtonLabel class="btn btn-outline-dark">
                Público
              </label>
              <label ngbButtonLabel class="btn-primary">
                <input ngbButton type="radio" [value]="true"> Si
              </label>
              <label ngbButtonLabel class="btn-primary">
                <input ngbButton type="radio" [value]="false"> No
              </label>
            </div>
            <div *ngIf="frmCofinanciador.get('publica').invalid
              && (frmCofinanciador.get('publica').dirty || frmCofinanciador.get('publica').touched)" class="alert alert-danger alert-form">
              <span *ngIf="frmCofinanciador.get('publica').hasError('required')">El campo público es obligatorio.</span>
            </div>
          </div>
        </div>
        <div class="col-md-12 col-xs-12 text-right" style="padding: 0px;">
          <button class="btn btn-primary btn-form-inline" type="submit" [disabled]="!frmCofinanciador.valid">Guardar</button>
          <button type="button" class="btn btn-outline-dark" (click)="onClose()">Cerrar</button>
        </div>
      </form>
    </div>
  </div>
</div>